/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore development files
/demo/app/assets/builds/*
!/demo/app/assets/builds/.keep
/demo/node_modules

# rspec failure tracking
.rspec_status

# Logfiles and tempfiles
*.log
demo/log/
demo/tmp/
!demo/log/.keep
!demp/tmp/.keep